---
import Layout from "../../layouts/Layout.astro";
import ArtistCard from "../../components/ArtistCards.astro";
import { allArtistesByDate } from "../../../backend/backend.mjs";
const title = "Les artistes - Festival de Jazz de Montbéliard";

const artistes = await allArtistesByDate();
---

<Layout {title}>
    <main class="bg-[#f6f4ef] text-neutral-900">
        <section class="bg-orange-500 text-white py-20 text-center px-6">
            <h1 class="text-4xl font-bold mb-4">Les artistes</h1>

            <p class="max-w-xl mx-auto text-lg text-white/90">
                Découvrez les artistes programmés au festival.
            </p>
        </section>

        <section class="max-w-6xl mx-auto px-6 py-16">
            <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-8">
                {artistes.map((artiste) => <ArtistCard artiste={artiste} />)}
            </div>
        </section>
    </main>
</Layout>
