---
import { Image } from "astro:assets";
import HeroImage from "../assets/img/hero-du-site.avif";
---

<div class="absolute inset-0">
    <Image
        src={HeroImage}
        alt="Festival La Fanfà'Comtoise"
        class="absolute inset-0 w-full h-full object-cover"
    />
</div>
