---
import HeroImage from "../assets/img/hero-du-site.avif";
---

<div class="absolute inset-0">
    <img
        src={HeroImage.src}
        alt="Festival La Fanfà'Comtoise"
        class="h-full w-full object-cover"
    />
</div>
